@use "functions" as *;



$font-families-map: (
  "primary": "system-ui",
  "secondary": '"Alegreya SC", serif',
);

$font-sizes-map: (
  s: clamp(0.8889rem, 0.8667rem + 0.1111vw, 1rem),
  base: clamp(1rem, 0.95rem + 0.25vw, 1.25rem),
  m: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem),
  l: clamp(1.2656rem, 1.1588rem + 0.5344vw, 1.8rem),
  xl: clamp(1.4238rem, 1.2766rem + 0.7362vw, 2.16rem),
  xxl: clamp(1.6018rem, 1.4038rem + 0.9902vw, 2.592rem),
  xxxl: clamp(2.0736rem, 1.0961rem + 4.8873vw, 3.9609rem),
);

// $font-sizes: (
//   "small": (
//     "400": 1rem,
//     "500": 1.125rem,
//     "600": 1.125rem,
//     "700": 1.75rem,
//     "800": 2.625rem,
//     "900": 3rem,
//   ),
//   "medium": (
//     "400": 1rem,
//     "500": 1.125rem,
//     "600": 1.5rem,
//     "700": 1.75rem,
//     "800": 2.75rem,
//     "900": 3.25rem,
//   ),
//   "large": (
//     "400": 1rem,
//     "500": 1.125rem,
//     "600": 1.3125rem,
//     "700": 1.75rem,
//     "800": 3rem,
//     "900": 3.75rem,
//   ),
// );

$font-weights-map: (
  "400": 400,
  "600": 600,
  "700": 700,
);


@function ff($font-family...) {
  @return getMapValue("font-family", $font-families, $font-family...);
}
@function fs($font-size...) {
  @return getMapValue("font-size", $font-sizes, $font-size...);
}
@function fw($font-weight...) {
  @return getMapValue("font-weight", $font-weights, $font-weight...);
}


//? Font Families
$font-family-primary:var(--ff-primary);
$font-family-secondary:var(--ff-secondary);


//? Font Sizes
$font-size-xs: var(--fs-xs);
$font-size-s: var(--fs-s);
$font-size-base: var(--fs-base);
$font-size-m: var(--fs-m);
$font-size-l: var(--fs-l);
$font-size-xl: var(--fs-xl);
$font-size-xxl: var(--fs-xxl);
$font-size-xxxl: var(--fs-xxxl);

//? Font Weights
$font-weight-400:var(--fw-400);
$font-weight-600:var(--fw-600);
$font-weight-700:var(--fw-700);
