@use "../abstracts/" as *;
@use "../base/" as *;

.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.section-padding {
  padding-block: $section-padding;
}

.normal-text {
  color: var(--p-color, var(--clr-neutral-500));
  line-height: 1.5;
  text-wrap: pretty;
}

.mi-auto {
  margin-inline: auto;
}

.flow {
  &[data-flow="small"] {
    --flow-spacer: #{$flow-small-space};
  }
  &[data-flow="medium"] {
    --flow-spacer: #{$flow-medium-space};
  }
  &[data-flow="large"] {
    --flow-spacer: #{$flow-large-space};
  }

  > * + * {
    margin-block-start: $flow-spacer;
  }
}

.skip-link {
  /* 1. Visually hide the link by default */
  position: absolute;
  top: -40px; /* Move it off-screen */
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 9999; /* Ensure it appears above all other content */
  transition: top 0.3s ease; /* Smooth transition */
  &:focus-visible {
    top: 0; /* Move it into view */
  }
}

.radius-1 {
  border-radius: $border-radius-1;
}

.radius-2 {
  border-radius: $border-radius-2;
}
