@use "../abstracts/" as *;

.wrapper {
  width: $wrapper-width;
  padding-inline: $wrapper-padding-inline;
  margin-inline: auto;

  &[data-wrapper="small"] {
    --wrapper-width: 650px;
  }
  &[data-wrapper="extended"] {
    --wrapper-width: 1440px;
  }
  &[data-wrapper="full"] {
    --wrapper-width: 100%;
  }
}
